<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
  <title>产品列表</title>
  <link href="https://cdn.staticfile.org/ionic/1.3.2/css/ionic.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/list.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="image/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="image/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="image/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <script src="https://cdn.staticfile.org/ionic/1.3.2/js/ionic.bundle.min.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/angular-ui-router.js"></script>
  <script src="js/list.js"></script>
  <script src="js/add.js"></script>
  <script src="js/edit.js"></script>
</head>

<body ng-app="list" ng-controller="list">
  <div ui-view>
    <div class="bar bar-header bar-dark">
      <div class="h1 title">产品列表📦📋</div>
    </div>

    <div class="content has-header">
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="search" placeholder="搜索" placeholder="请输入你需要查询的内容" | ng-model="key" />
          </label>

          <button type="button" class="button button-small button-dark" ng-click="key=''">
            取消
          </button>

          <button ng-click="clickAdd()" type="button" class="button button-small button-balanced">
            新增产品
          </button>
        </div>
      </div>
    </div>

    <div class="details" style="margin-top: 50px">
      <div ng-if="!data.length" style="font-size: 20px">
        没有数据请添加数据
      </div>
      <table ng-if="data.length" class="table my-table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">代码</th>
            <th scope="col">名称</th>
            <th scope="col">描述</th>
            <th scope="col">类别</th>
            <th scope="col">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item  in data | filter:key">
            <td scope="row">
              <a href="" ng-click="modifyData(item.id)">{{item.id}}</a>
            </td>
            <td ng-bind="item.name"></td>
            <td ng-bind="item.description"></td>
            <td ng-bind="item.category"></td>
            <td>
              <button type="button" class="button button-small button-assertive" ng-click="del(item.id)">
                删除
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>