<ion-view id="category" view-title="商品分类" hide-back-button="true" cache-view="false">
  <div class="scroll-content  has-header" scroll="false">
    <header id="header">
      <button 0style="display: inline-block;" ng-click="aa()">
        <div></div>
        <div></div>
        <div></div>
      </button>
<span>美味饭菜</span>


    </header>
    <nav id="nav" ng-hide="qq">
      <ul>
        <li ng-class="$index==0?'nav-current':'nav-blur'" ng-repeat="item in categoryData"
          ng-click="categoryLeftClick($event);getCategoryDetailData(item.typeNumber);aa()">{{item.name}}</li>
      </ul>
    </nav>
    <div id="pro">
      <ion-content lazy-scroll>
        <div class="pro-scroll">
          <div class="pro-warp">
            <div class="banner">
              <img ng-src="img/category/banner_1.jpg" alt="">
            </div>
            <div class="content">
              <div class="content-title">
                <span>热卖分类</span>
              </div>
              <div class="content-body">
                <a class="content-body-list" ng-repeat="item in categoryDetailData"
                ng-href="#/details/{{item.productId}}"
                  >
                  <!-- <a href=""  ng-href="#/details/{{item.productId}}">aa</a> -->
                  <img image-lazy-src="{{item.src}}" alt="" image-lazy-loader="lines">
                  <span>{{item.name}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
  </div>
</ion-view>